#root {
	margin: auto;
}

.App {
	/* display: flex;
  flex-direction: column;
  min-height: 100vh; */

	/* display: grid; */
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;

	/* max-width: 1280px; */
	/* margin: 0 auto; */
	/* padding: 0 1rem; */
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 1rem;

	font-weight: 500;
}

h1 {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 2.5rem;
}
h2 {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 2rem;
}
h3 {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.75rem;
}
p {
	font-size: 1rem;
	color: #0a0a23;
	color: gray;
}
